html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar
{
    font-family: 'Din', sans-serif; 
    font-size: 20px; 
    background: linear-gradient(rgba(1,1,1,0.750),rgba(1,1,1,0.750));
}

#header
{
    font-family: 'Din', sans-serif; 
    font-size: 20px;
}

#header-name
{
    font-size: 100px;
    max-width: 80vw;
    color: #b54a07;
    /* rgb(211, 126, 7); */
}

#header-type
{
    font-size: 50px;
    max-width: 80vw;
    color: rgb(255, 175, 0);
}

#description
{
    font-family: 'Din', sans-serif; 
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.description-title .line
{
    width: 1000px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 10px auto 24px auto;
}

/* For Bar */
.label-left, .label-right 
{
    font-family: 'Din', sans-serif; 
    width: 3rem;
}

.big-letter 
{
    font-size: 1.5rem;
    font-weight: bold;
}

.small-text 
{
    font-size: 0.8rem;
}
/* For Bar */
/* For bar head */

/* For bar head */

.line-thin
{
    width: 1000px;
    height: 2px;
    background-color: rgba(87, 96, 113, 1);
    margin: 40px auto 0px auto;
}

#quiz-submit
{
    font-family: 'Din', sans-serif;
    font-size: 30px;
    font-weight: bold;
    outline: solid rgba(87, 96, 113, 1);
    color: rgba(87, 96, 113, 1);
    padding: 10px 30px;
    background-color: rgba(51, 164, 116, 0.5);
}

/* Submit button animation */
#quiz-submit:hover
{
    animation: pulse 1s infinite;
}


/* ------------------------ Radio button ------------------------ */
/* Hide default radio button */
.circle-radio input[type="radio"] {
    display: none;
  }
  
/* Base styling for circle */
.circle {
display: inline-block;
border-radius: 50%;
margin: 0 20px; /* Space between each circle */
cursor: pointer;
transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Size Variants */
.circle.big {
width: 70px;
height: 70px;
}

.circle.small {
width: 50px;
height: 50px;
}

.circle.tiny {
width: 35px;
height: 35px;
}

/* Default (Unselected) State: Transparent with colored border */
.circle.red {
border: 2px solid rgb(160, 32, 32);
background-color: transparent;
}

.circle.gray {
border: 2px solid gray;
background-color: transparent;
}

.circle.green {
border: 2px solid rgb(51, 164, 116);
background-color: transparent;
}

/* Hover State: 50% opacity fill */
.circle:hover.red {
background-color: rgba(160, 32, 32, 0.5);
}

.circle:hover.gray {
background-color: rgba(128, 128, 128, 0.5);
}

.circle:hover.green {
background-color: rgba(51, 164, 116, 0.5);
}

/* Checked State: 100% opacity fill */
.circle-radio input[type="radio"]:checked + .circle.red {
background-color: rgb(160, 32, 32);
border-color: rgb(160, 32, 32);
}

.circle-radio input[type="radio"]:checked + .circle.gray {
background-color: gray;
border-color: gray;
}

.circle-radio input[type="radio"]:checked + .circle.green {
background-color: rgb(51, 164, 116);
border-color: rgb(51, 164, 116);
}



/* Hover Animation */
.underline-hover {
    position: relative;
    display: inline-block;
  }
  
.underline-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
.underline-hover:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

/* Arrow Animation */
.arrow-icon {
    position: absolute;
    bottom: 20px; /* Place the arrow near the bottom */
    font-size: 3rem; /* Customize the size */
    color: #fff; /* Customize the color */
    animation: bounce 1s infinite; /* Add bounce animation */
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Pulse animation */
@keyframes pulse {
    0%, 100%{
        font-size: 30px;
        background-color: rgba(51, 164, 116, 0.5);
    }
    50% {
        font-size: 35px;      
        background-color: rgba(160, 32, 32, 0.5);
    }
}

/* Shape */
.shape 
{
    height: 75px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% + 370px) 100%, 47% calc(100% - 27px), calc(50% - 370px) 100%, 0 calc(100% - 30px));
    background-color: rgba(130,140,160,1);
    position: relative;
    width: 100vw;
}