.divider {
    height: 1px;
    position: relative;
    background: linear-gradient(90deg, transparent, rgba(240, 225, 255, .6), transparent)
}

.divider:after {
    content: "✦";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 9px;
    font-size: 12px
}